@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-poly {
  background-image: url('../assets/svg/hexagon.svg');
}
.bg-dot {
  background-image: radial-gradient(rgba(255, 255, 255, 0.693) 0.5px, transparent 5px);
  background-size: 60px 60px;
  background-repeat: repeat;
  /* add mask */
  --mask-image: radial-gradient(
    farthest-side ellipse at center,
    rgb(255, 255, 255) 0%,
    transparent 50%
  );
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  backdrop-filter: blur(20%);
}

.bg-dot-light {
  background-image: radial-gradient(rgba(0, 0, 0, 0.693) 0.5px, transparent 5px);
  background-size: 60px 60px;
  background-repeat: repeat;
  /* add mask */
  --mask-image: radial-gradient(
    farthest-side ellipse at center,
    rgb(255, 255, 255) 0%,
    transparent 50%
  );
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  backdrop-filter: blur(20%);
}
